@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 51, 51, 51;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

/* 다크모드 비활성화 */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

select {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 0px 24px 0px rgba(190, 190, 190, 0.25);
  border: 2px solid transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("/images/icons/arrow_rounded_rotated.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

.home-root {
  width: 100vw;
  position: relative;
  left: calc((100vw - 100%)/-2);
}

.bg-green-gradient {
  background: linear-gradient(95deg, #37CC87 0%, #41B580 100%);
}
.bg-yellow-gradient {
  background: linear-gradient(95deg, #FFDC60 0%, #EFC223 100%);
}
.filter-green-1 {
  filter: invert(56%) sepia(78%) saturate(314%) hue-rotate(100deg) brightness(93%) contrast(90%);
}
.bg-darkgray-1 {
  background-color: rgba(0, 0, 0, 0.25);
}
.shadow-1 {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
}
.shadow-2 {
  box-shadow: 0px 0px 24px 0px rgba(190, 190, 190, 0.25);
}
.shadow-3 {
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.15);
}

.hidden-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hidden-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

input[type="checkbox"] {
  appearance: none;   
  -webkit-appearance: none;   
  border: none;   
  outline: none;  
  width: 20px;  
  height: 20px;   
  background-color: #FFF;   
  cursor: pointer;  
  border-radius: 4px;
}

input[type="checkbox"]:checked {
  background-color: #37CC87;
  background-image: url('/images/icons/check.svg');
  background-size: 12px;
  background-position: center;
  background-repeat: no-repeat;
}

.highlight-green {
  display: inline;
  box-shadow: inset 0 -14px 0 #CDE4BC; 
}

.highlight-yellow {
  display: inline;
  box-shadow: inset 0 -14px 0 #FFECA8; 
}

.highlight-blue {
  display: inline;
  box-shadow: inset 0 -14px 0 #D6E3E4; 
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ellipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 엣지 */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE 및 Edge */
  scrollbar-width: none;  /* Firefox */
}